commands:
  01_install_fail2ban:
    command: "yum install -y fail2ban"
    ignoreErrors: false
    
files:
  "/etc/fail2ban/jail.d/nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [nginx-http-auth]
      enabled = true
      port = http,https
      logpath = /var/log/nginx/error.log

      [nginx-noscript]
      enabled = true
      port = http,https
      logpath = /var/log/nginx/access.log
      maxretry = 6
      findtime = 300
      bantime = 3600

      [nginx-badbots]
      enabled = true
      port = http,https
      logpath = /var/log/nginx/access.log
      maxretry = 2
      findtime = 300
      bantime = 86400

      [nginx-noproxy]
      enabled = true
      port = http,https
      logpath = /var/log/nginx/access.log
      maxretry = 2
      findtime = 300
      bantime = 86400

      [nginx-botsearch]
      enabled = true
      port = http,https
      logpath = /var/log/nginx/access.log
      maxretry = 3
      findtime = 300
      bantime = 86400

      [nginx-404]
      enabled = true
      port = http,https
      logpath = /var/log/nginx/access.log
      maxretry = 20
      findtime = 60
      bantime = 3600

  "/etc/fail2ban/filter.d/nginx-404.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Definition]
      failregex = ^<HOST> -.*" 404
      ignoreregex =

services:
  sysvinit:
    fail2ban:
      enabled: true
      ensureRunning: true
      files:
        - /etc/fail2ban/jail.d/nginx.conf
        - /etc/fail2ban/filter.d/nginx-404.conf